@CHARSET "UTF-8";


.alcaramel {
	background-color: #F0E5D7 !important;
}

.card-panel {
	transition: box-shadow .25s;
	padding: 20px;
	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #fff;
}

.card-panel {
	transition: box-shadow .25s;
	padding: 20px;
	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #c9c5c1 !important;
	min-height: 640px;
}

.detail-title {
    font-weight: 700;
    display: block;
    /* text-transform: uppercase; */
}

i {
    line-height: inherit;
}

.opening-hours {
    margin: 0;
}
ul {
    padding: 0;
    list-style-type: none;
}

hr {
    border-bottom: 0;
    border-right: 0;
    border-top:1px solid rgba(144, 135, 135, 0.59);
}

a {
    text-decoration: none;
}
h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}

h2{margin-top: 10px; }


i{
font-family: "Material-Design-Icons";
}


i.tiny {
    padding-top: 3px;
}


div#chip:hover {
    background: #8f786f;
    color: #fff;
    cursor: pointer;
}
/* .table{
	border-radius: 3px;
	width:100%;
	background:#fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.table .head{
	border-bottom:none;
}

.table .nav{
	background:none;
	box-shadow:none;
}

.table .breadcrumb{
	color: #666666;
    font-size: 13px;
}

.breadcrumb:before {
    font-style: normal;
    font-weight:bold;
    speak: none;
    text-align: center;
    width: 1em;
    display: inline-block;
    font-size: 15px;
    color: #bababa;
} 

.table .category{

}

.input-field {
	width: 100%;
}

.button-td{
	display: flex;
	justify-content: space-between;
}

.like-td{
	display: flex;
	justify-content: space-between;
	padding-bottom: 0px;
}

.like-td form{
	margin-top:3px;
}

.hidden{
	display: none;
}

.reg-date{
	padding-right: 0px;
}

.like{
	margin-left: 3px;
	margin-right: 3px;
	text-shadow: 0px 1px #ffffff, 2px 1px 0px #dad7d7;
	text-align: right;
}
.form-end{
	text-align: right;
}

#icon-margin{
	margin-right:2.5px !important;
}

.title{
	font-weight:900;
    font-size: 23px;
	font-family: din_blackregular;
	color: #616161;
}

.detail-font{
	font-family: 'Abel', sans-serif;
	padding-top:0px;
}

.detail-title{
	font-weight: 700;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

*/
.head td:first-child{
	height: 15px;
}

span.title {
    color: #839705;
    font-family: Microsoft;
}
time {
    margin-left: 17px;
}
.box_write{
	background-color: #f7f7f7;
    height: 98px;
    box-sizing: border-box;
    padding: 13px 18px;
    border: 1px solid #e6e6e6;
        display: flex;
}
    
.box_write textarea {
  /*   width: 535px; */
    height: 71px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    resize: none;
    float: left;
    color: #c7c7c7;
    font-size: 16px;
    font-family: Microsoft YaHei,'NSL';
    text-align: center;
    padding-top: 20px;
    color: #313131;
    overflow: auto;

}
.box_write button {
    /* display: block; */
    width: 123px; 
    height: 71px;
    background-color: #d2b295; 
    border: none;
    color: #fff;
    font-size: 17px;
    font-family: Microsoft YaHei,'NSL';
    float: right;
    line-height: 80px\0;
    margin-left: 10px;
} 


.margin{
	margin-left:3px;
}

.content-box{
	padding-top:5px;
	padding-bottom:10px;
	border:1px solid rgba(144, 135, 135, 0.59);
	margin-top:10px;
	margin-bottom:10px;
}


.chip{

    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); */
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
    border: 1px solid #846C63;
	color:#846C63;
	font-size:12px;
	height: auto;
}

.material-icons.like{
	margin-top:10px;
	color: black;
}




i.left{
	margin-right:6px;
}
#likebtn{
padding:2px;
font-size:13px;
height: auto;
line-height: 22px;

}

#likebtn i.tiny{
padding-top:0px;  
}

a.del.waves-effect.waves-light {
    position: absolute;
    top: 9px;
    right: 7px;
}


.flex.between{
justify-content: space-between; 
}